In [1]:
%matplotlib inline
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab 
import scipy.stats as stats
#from dotenv import load_dotenv

In [2]:
final_df = pd.read_csv('../all_data/all-data-best-city.csv', index_col=0)

In [3]:
final_df.head()

,city_ascii,cost_live_rent_index,purchase_pow_index,country,mean_tmp,std_dev_temp,safety_index,pollution_index,trffic_min_index,lat,lng
0,Honolulu,80.4,74.4,United States,25.441667,1.837220,52.6,37.0,41.5,21.3294,-157.8460
1,Seattle,83.4,108.4,United States,11.316667,5.142662,45.7,34.7,46.9,47.6211,-122.3244
2,Canberra,69.1,69.1,Australia,13.141667,5.418396,72.0,26.1,43.3,-35.2931,149.1269
3,Adelaide,64.6,67.3,Australia,17.208333,4.416798,66.7,27.1,45.1,-34.9275,138.6000
4,Boston,82.0,106.6,United States,12.063636,8.341855,59.6,32.3,46.5,42.3188,-71.0852

In [4]:
final_df.columns

Index(['city_ascii', 'cost_live_rent_index', 'purchase_pow_index', 'country',
       'mean_tmp', 'std_dev_temp', 'safety_index', 'pollution_index',
       'trffic_min_index', 'lat', 'lng'],
      dtype='object')

In [5]:
#final_df = final_df.drop(['rank_cost_living', 'rank_traffic','rank_safety'], axis=1)
#final_df.head()

In [6]:
# Define variables for best mean temperature and best std deviation value
best_mean_tmp = 15
best_std_dev_tmp = 10

In [7]:
"""
# Testing for temperature 
final_df['mean_tmp_diff_from_best'] = abs(best_mean_tmp - final_df['mean_tmp'])
final_df['tmp_std_dev_diff_from_best'] = abs(best_std_dev_tmp - final_df['std_dev_temp'])

final_df.head()
"""

"\n# Testing for temperature \nfinal_df['mean_tmp_diff_from_best'] = abs(best_mean_tmp - final_df['mean_tmp'])\nfinal_df['tmp_std_dev_diff_from_best'] = abs(best_std_dev_tmp - final_df['std_dev_temp'])\n\nfinal_df.head()\n"

In [8]:
final_df.columns

Index(['city_ascii', 'cost_live_rent_index', 'purchase_pow_index', 'country',
       'mean_tmp', 'std_dev_temp', 'safety_index', 'pollution_index',
       'trffic_min_index', 'lat', 'lng'],
      dtype='object')

In [9]:
# Min-Max Scaling all our indexes
final_df['scaled_cost_live_rent_index'] = 1 - ( (final_df['cost_live_rent_index'] - final_df['cost_live_rent_index'].min()) /
                                           (final_df['cost_live_rent_index'].max() - final_df['cost_live_rent_index'].min()) )
final_df['scaled_purchase_pow_index'] = ( (final_df['purchase_pow_index'] - final_df['purchase_pow_index'].min()) /
                                           (final_df['purchase_pow_index'].max() - final_df['purchase_pow_index'].min()) )
final_df['scaled_safety_index'] = ( (final_df['safety_index'] - final_df['safety_index'].min()) /
                                           (final_df['safety_index'].max() - final_df['safety_index'].min()) )
final_df['scaled_pollution_index'] = 1 - ( (final_df['pollution_index'] - final_df['pollution_index'].min()) /
                                           (final_df['pollution_index'].max() - final_df['pollution_index'].min()) )
final_df['scaled_trffic_min_index'] = 1 - ( (final_df['trffic_min_index'] - final_df['trffic_min_index'].min()) /
                                           (final_df['trffic_min_index'].max() - final_df['trffic_min_index'].min()) )
final_df['scaled_mean_tmp'] = ( (final_df['mean_tmp'] - final_df['mean_tmp'].min()) /
                                           (final_df['mean_tmp'].max() - final_df['mean_tmp'].min()) )
final_df['scaled_tmp_std_dev'] = ( (final_df['std_dev_temp'] - final_df['std_dev_temp'].min()) /
                                           (final_df['std_dev_temp'].max() - final_df['std_dev_temp'].min()) )

final_df = final_df.drop(['cost_live_rent_index', 'purchase_pow_index', 'safety_index', 'pollution_index',
                          'trffic_min_index'],
                         axis=1)
final_df.head()

,city_ascii,country,mean_tmp,std_dev_temp,lat,lng,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp,scaled_tmp_std_dev
0,Honolulu,United States,25.441667,1.837220,21.3294,-157.8460,0.119138,0.464207,0.517190,0.730670,0.551064,0.837757,0.145254
1,Seattle,United States,11.316667,5.142662,47.6211,-122.3244,0.081115,0.715129,0.414051,0.760309,0.436170,0.112158,0.479235
2,Canberra,Australia,13.141667,5.418396,-35.2931,149.1269,0.262357,0.425092,0.807175,0.871134,0.512766,0.205908,0.507095
3,Adelaide,Australia,17.208333,4.416798,-34.9275,138.6000,0.319392,0.411808,0.727952,0.858247,0.474468,0.414812,0.405894
4,Boston,United States,12.063636,8.341855,42.3188,-71.0852,0.098859,0.701845,0.621824,0.791237,0.444681,0.150529,0.802480

In [10]:
final_df.describe()

,mean_tmp,std_dev_temp,lat,lng,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp,scaled_tmp_std_dev
count,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000
mean,16.929022,5.456515,26.269406,6.210760,0.570639,0.418397,0.553281,0.540156,0.613195,0.400463,0.510946
std,5.668299,2.354963,28.471539,79.900214,0.238457,0.238509,0.224254,0.270383,0.194713,0.291180,0.237944
min,9.133333,0.399621,-41.288900,-157.846000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.051894,3.910059,19.344000,-71.704325,0.374842,0.183948,0.414051,0.338918,0.501596,0.149926,0.354693
50%,15.822500,5.658067,36.896650,16.177900,0.631179,0.432472,0.546338,0.553479,0.627660,0.343622,0.531311
75%,20.875000,7.495350,45.477400,50.223625,0.777250,0.603321,0.732063,0.776740,0.764894,0.603168,0.716949
max,28.600000,10.296734,59.950000,174.777200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
final_df.dtypes

city_ascii                      object
country                         object
mean_tmp                       float64
std_dev_temp                   float64
lat                            float64
lng                            float64
scaled_cost_live_rent_index    float64
scaled_purchase_pow_index      float64
scaled_safety_index            float64
scaled_pollution_index         float64
scaled_trffic_min_index        float64
scaled_mean_tmp                float64
scaled_tmp_std_dev             float64
dtype: object

In [12]:
print("Range of Mean temperature:",final_df['mean_tmp'].max(), final_df['mean_tmp'].min())
print("Range of Std Dev of Temperature:",final_df['std_dev_temp'].max(), final_df['std_dev_temp'].min())

mean_tmp_range = final_df['mean_tmp'].max() - final_df['mean_tmp'].min()
std_dev_temp_range = final_df['std_dev_temp'].max() - final_df['std_dev_temp'].min()

scaled_best_mean_tmp = (best_mean_tmp - final_df['mean_tmp'].min()) / mean_tmp_range
sclaed_best_std_dev_tmp = (best_std_dev_tmp - final_df['std_dev_temp'].min()) / std_dev_temp_range

Range of Mean temperature: 28.600000000000005 9.133333333333336
Range of Std Dev of Temperature: 10.296733815765428 0.3996210326008498

In [13]:
# For a new point
new_point = np.array([[2/5,2/5,2/5,2/5,2/5,scaled_best_mean_tmp,sclaed_best_std_dev_tmp]])

In [14]:
# prep data
train_df = final_df.drop(['mean_tmp','std_dev_temp','lat','lng','country'],axis=1)
train_df = train_df.set_index('city_ascii')
train_df.head()

,scaled_cost_live_rent_index,scaled_purchase_pow_index,scaled_safety_index,scaled_pollution_index,scaled_trffic_min_index,scaled_mean_tmp,scaled_tmp_std_dev
city_ascii,,,,,,,
Honolulu,0.119138,0.464207,0.517190,0.730670,0.551064,0.837757,0.145254
Seattle,0.081115,0.715129,0.414051,0.760309,0.436170,0.112158,0.479235
Canberra,0.262357,0.425092,0.807175,0.871134,0.512766,0.205908,0.507095
Adelaide,0.319392,0.411808,0.727952,0.858247,0.474468,0.414812,0.405894
Boston,0.098859,0.701845,0.621824,0.791237,0.444681,0.150529,0.802480

In [15]:
train_df.columns

Index(['scaled_cost_live_rent_index', 'scaled_purchase_pow_index',
       'scaled_safety_index', 'scaled_pollution_index',
       'scaled_trffic_min_index', 'scaled_mean_tmp', 'scaled_tmp_std_dev'],
      dtype='object')

In [16]:
# Convert new_point to a 1-D array
new_point = new_point.flatten()

# Initialize an empty list to store the distances
distances = []

# Calculate Euclidean distance for each point in the dataframe
for index, row in train_df.iterrows():
    distance = np.sqrt(np.sum((row - new_point) ** 2))
    distances.append(distance)

# Create a new dataframe with distances
df_distances = pd.DataFrame(distances, columns=['Distance'], index=train_df.index)

# Sort the dataframe by distance
df_distances = df_distances.sort_values(by='Distance')

# Print the sorted dataframe
print(df_distances)

                  Distance
city_ascii
Milan             0.388537
Rome              0.449412
Paris             0.480913
Toronto           0.488234
Seoul             0.502778
...                    ...
Manila            1.294110
Colombo           1.319189
Ho Chi Minh City  1.323228
Lagos             1.360908
Singapore         1.367423

[124 rows x 1 columns]

In [17]:
df_distances.head(25)

                  Distance
city_ascii
Milan             0.388537
Rome              0.449412
Paris             0.480913
Toronto           0.488234
Seoul             0.502778
Shanghai          0.518231
Athens            0.524707
Budapest          0.571255
Almaty            0.571264
Beijing           0.573503
Dallas            0.579416
Atlanta           0.581139
Thessaloniki      0.588901
Belgrade          0.590372
Las Vegas         0.591465
London            0.595951
Brussels          0.604195
Saint Petersburg  0.619535
Istanbul          0.621515
Columbus          0.629964
Tehran            0.631121
Minneapolis       0.631508
Berlin            0.633391
Bucharest         0.636585
Sofia             0.638411

### Trying to reduce dimensions with PCA first and then calculate closest euclidean distance.
### Doing this to avoid the "curse of dimensionality" which suggests, as dimensions increase the volume increases so fast that the points become sparse and the distances become very similar, hence obstructing the evaluation of actual similarities.

In [18]:
from sklearn.decomposition import PCA


# Convert new_point to a 1-D array
new_point_loc = new_point.flatten()

# Initialize PCA - you can change the number of components as needed
pca = PCA(n_components=3)

# Fit PCA on your data and transform the data
train_df_pca = pca.fit_transform(train_df)

# Transform the new_point using the same PCA object
new_point_pca = pca.transform(new_point_loc.reshape(1, -1))

# Initialize an empty list to store the distances
distances = []

# Calculate Euclidean distance for each point in the dataframe
for point in train_df_pca:
    distance = np.sqrt(np.sum((point - new_point_pca) ** 2))
    distances.append(distance)

# Create a new dataframe with distances
df_distances = pd.DataFrame(distances, columns=['Distance'], index=train_df.index)

# Sort the dataframe by distance
df_distances = df_distances.sort_values(by='Distance')

# Print the sorted dataframe
df_distances.head(10)

/home/ashutosh/.local/share/virtualenvs/py_main_env-PvkzhTzV/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

              Distance
city_ascii
Milan         0.086596
Brussels      0.166342
Rome          0.170080
Paris         0.176273
Winnipeg      0.212335
Moscow        0.238118
Minsk         0.273260
Montevideo    0.279601
Thessaloniki  0.306335
Curitiba      0.309239